* {
    margin:0;
    Padding:0;

}

nav {
    height: 20px;
}

nav p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 24px;
    float: left;
    padding: 0px 20px;
    line-height: 55px;

}

nav ul {
    float:left;
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(228, 226, 140);
    border-color: #e9b567;
    border-style: dashed;
    
  }

nav ul li {
    float:left;
    list-style: none;
    position: relative;
  }
  
nav ul li a {
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
  }

nav ul li ul {
    display: block;
    position:absolute;
    background-color: white;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
    
  }

nav ul li:hover ul {
    display: block;
  
  }

nav ul li ul li {
    width: 150px;
    border-radius: 4px;
    
  }

nav ul li ul li a {
    padding: 14px 16px;
    
  }

nav ul li ul li a:hover {
    background-color: #e9b567;
    
  }