
.sidenav {
  height: 100%;
  width: 15%;
  position:absolute;
  z-index: 1;
  top: 10%;
  background-color: rgb(228, 226, 140);
  overflow-x:auto;
  padding-top: 10%;
  font-size: 24px;
  }

  .sidenav a, .dropdown-btn {
  text-decoration: none;
  color: black;
  display: block;
  border: none;
  background: none;
  width:15%;
  text-align:justify;
  cursor:pointer;
  outline: none;
  position: fixed;
  }

  .sidenav a:hover, .dropdown-btn:hover {
  color: #5e5b5b;
  }

  .main {
  margin-left: 15%; 
  }

  .active {
  background-color: r#e9b567;
  color: black;
  }

  .dropdown-container {
  display: none;
  background-color: rgb(228, 226, 140);
  padding-left: 8px;
  }
