
h1 {color: #e9b567;}

main-head h1 {color: #e9b567;}

p {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 24px;
    float: left;
    line-height: 30px;
    padding: 0px 10px;
}
blockquote {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 24px;
    float: left;
    line-height: 30px;
    padding: 0px 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 25% auto 25%;
    background-color: rgb(228, 226, 140);
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
    justify-content: center;
    grid-template-areas:
    "header header  header"
    "nav    nav     sidebar"
    "content  content sidebar"
    "footer footer  footer"
  }

.main-head {
    grid-area: header;
    background-color: rgb(228, 226, 140);
    grid-column: 1/ span 3;
    grid-row: 1;
  }
  .content {
    grid-area: content;
    grid-column: 1/span 2;
    grid-row: 3/span 4;
    
  }
  .main-nav {
    grid-area: nav;
    background-color: rgb(228, 226, 140);
    grid-column:1/span 2;
    grid-row: 2;
  }
  .side {
    grid-area: sidebar;
    background-color: rgb(228, 226, 140);
    grid-column: 3;
    grid-row: 2/span 3;
  }
    .main-footer {
    grid-area: footer;
    background-color: rgb(228, 226, 140);
    grid-column: 1/span 3;
    grid-row: 4;

  }

nav ul {
  flex-direction: column;
}

