
@font-face {
  font-family: OtomanopeeOne-Regular;
  src: url(OtomanopeeOne-Regular.ttf);
}

h1 {color: black;
padding-left: 5px;
font-family: OtomanopeeOne-Regular;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 24px;
    float: left;
    line-height: 24px;
}

.wrapper {
    display:grid;
    grid-template-columns: 15% auto 20%;
    grid-template-rows: 10% auto 5%;
    grid-template-areas: 
      "header header  header"
      "nav    content sidebar"
      "footer footer  footer" 
   }
   nav ul {
     flex-direction: row;
   }

  
  .main-head {
    grid-area: header;
    background-color: rgb(228, 226, 140);

  }
  .content {
    grid-area: content;
  }
  .sidenav {
    grid-area: nav;
    background-color: rgb(228, 226, 140);
  }
  .side {
    grid-area: sidebar;
    background-color: rgb(228, 226, 140);
  }
 
  .main-footer {
    grid-area: footer;
    background-color: rgb(228, 226, 140);
    float:none;
    text-align: center;
  }



@media print {
    .main-head, .content, .main-footer{
      color: black;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 14pt;
    }
    .side, .sidenav

  article {
    width: 100%!important;
    padding: 0!important;
    margin:0!important;

  }
  @page {
    margin: 1in;
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-areas:
      '.main-head'
      '.sidenav'
      '.content'
      '.side'
      '.main-footer';
  }
}

@media (max-width: 959px) {
  .grid {
    grid-template-areas:
    ".main-header .main-header  .main-header"
    ".sidenav    .content       .side"
    ".main-footer .main-footer  .main-footer" ;
  }
}